.about {
  margin-bottom: 80px;
}
section .content {
  width: 80%;
  margin: 10px auto;
  font-family: "Poppins", sans-serif;
}
section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span {
  color: #0e2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about .about-details .left {
  width: 480px;
}
.about .left img {
  height: 400px;
  width: 350px;
  border-radius: 12px;
}
.about-details .right {
  width: 480px;
}
section .topic {
  color: #0e2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p {
  text-align: justify;
  color: #0e2431;
}
section .button {
  margin: 16px 0;
}
section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}
